.card{
    height: 100px;
    weight:100%
}
.blue{
    background-color: blue;

}
.red{
    background-color: red;
}
.white
{
    background-color: white;

}
.green{
    
    background-color: green;


}
.height{
    height: 10px;
}