.hello 
{
background-color:red;

}
.fds
{
background-color:green;    
}
.tvr
{
    background-color: blue;
}
.hll
{
background-color:cyan;
}
.tla
{
background-color: magenta; 
}
p
{
    font-size: 15px;
} 