h4{
    background-color: brown;
    color: red;
}
u{
    color: yellow;
    background-color: brown;
}
i{
    background-color: brown;
    color: blue;
}
b{
    background-color: brown;
    color:gold;}
    p{
        font-size: 123px;
        background-color: darkblue;
        font-style: italic;
    }